<!-- <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbar-menu"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
        [attr.aria-expanded]="!menuHidden"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
            <i class="fas fa-home"></i>
            <span translate>Home</span>
          </a>
          <a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
            <i class="fas fa-question-circle"></i>
            <span translate>About</span>
          </a>
        </div>
        <div class="navbar-nav ml-auto">
          <app-language-selector [inNavbar]="true"></app-language-selector>
          <div class="nav-item" ngbDropdown display="dynamic">
            <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
              <i class="fas fa-user-circle"></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="user-dropdown">
              <h6 class="dropdown-header">
                <span translate>Logged in as</span> <b>{{ username }}</b>
              </h6>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" (click)="logout()" translate>Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header> -->


<header>
  <div class="container-fluid header">
    <div class="container">
      <div class="row">
        <div class="col-2 title">Ecommerce</div>
        <div class="col-6 offset-md-1">
          <div class="row">
            <div class="col">
              <span><a routerLink="/home">Home</a></span>
            </div>
            <div class="col">
              <span><a routerLink="/productlist">Products</a></span>
            </div>
            <div class="col">
              <span><a href="">Contacts</a></span>
            </div>
          </div>
        </div>
        <div class="col-2 offset-md-1">
          <div class="row">
            <div class="col">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="col"><i class="fa-regular fa-heart"></i></div>
            <div class="col">
              <a href="login"><i class="fa-regular fa-user"*ngIf="!isLoggedIn"></i></a>
              <i class="fa-solid fa-right-from-bracket" *ngIf="isLoggedIn" (ngSubmit)="logout()"></i>
            </div>
            <div class="col">
              <a href="cart"><i class="fa-solid fa-cart-shopping"></i></a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div> 




  <!-- <nav ngxNavbarDynamicExpand class="navbar-light bg-light">
    <a class="navbar-brand" href="#">Bootstrap 4</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapse.toggle()"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Navigáció kapcsoló"
    >
      <span
        class="
          navbar-toggler-icon
          d-flex
          align-items-center
          justify-content-center
        "
      >
      </span>
    </button>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Some very long Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Some very long Link</a>
        </li>
      </ul>
    </ngx-navbar-collapse>
  </nav> -->
  
</header>
