h1 {
  font-family: cursive;
}
input {
  width: 45vh;
  padding: 3%;
  border-radius: 12vh;
  border: none;
  background-color: #ffffd73b;
}
.root {
  background-color: #ffc10761;
}
button {
  background-color: #ffffd73b !important ;
}
button:hover {
  background-color: #ffffd7e0 !important ;
}
