<div class="container-fluid vh-100 root">
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="row my-5 text-center">
          <h1>SignUp</h1>
        </div>
        <div class="row">
          <div class="row my-5">
            <form (ngSubmit)="submit()" [formGroup] = "registerForm" novalidate>
              <div class="alert alert-danger" [hidden]="!error || isLoading" translate>incorrect fields.</div>
            <input
              class="form-control"
              name="username"
              type="text"
              id="username"
              class="my-2"
              placeholder="User Name"
              formControlName="username"
              minlength="4"
            />
            <small
                [hidden]="registerForm.controls['username'].valid || registerForm.controls['username'].untouched"
                class="text-danger"
                translate
              >
                Username is required
              </small>
            <!-- <div
                  *ngIf="
                    registerForm.get('name')!.invalid &&
                    registerForm.get('name')!.touched
                  "
                  class="alert"
                >
                  <span class="text-danger">name is required</span>
                </div> -->
            <!-- <input type="text" 
            name="email" 
            id="email" 
            class="my-2" 
            placeholder="E-mail" 
            formControlName="email" /> -->
            <!-- <div *ngIf="registerForm.get('email')!.invalid && registerForm.get('email')!.touched"class="alert">
                  <span class="text-danger">email is required</span>
                </div> -->
            <input
              type="password"
              name="password"
              id="password"
              class="my-2"
              placeholder="Password"
              password=""
              formControlName="password"
            />
            <small
            [hidden]="registerForm.controls['password'].valid || registerForm.controls['password'].untouched"
            class="text-danger"
            translate
          >
            Password is required
          </small>

            <!-- <div
                  *ngIf="
                    registerForm.get('password')!.invalid &&
                    registerForm.get('password')!.touched
                  "
                  class="alert"
                >
                  <span class="text-danger">password is required</span>
                </div> -->
            <input
              type="password"
              class="my-2"
              id="confirmpassword"
              placeholder="ConfirmPassword"
              formControlName="confirmPassword"
            />

            <small
            [hidden]="registerForm.controls['confirmpassword'].valid || registerForm.controls['confirmpassword'].untouched"
            class="text-danger"
            translate
          >
            Password is required
          </small>

          <input
          class="form-control"
          name="firstname"
          type="text"
          id="firstname"
          class="my-2"
          placeholder="First Name"
          formControlName="firstname"
          minlength="4"
        />
        <small
            [hidden]="registerForm.controls['firstname'].valid || registerForm.controls['firstname'].untouched"
            class="text-danger"
            translate
          >
            firstname is required
          </small>
          <input
          class="form-control"
          name="lastname"
          type="text"
          id="lastname"
          class="my-2"
          placeholder="Last Name"
          formControlName="lastname"
          minlength="4"
        />
        <small
            [hidden]="registerForm.controls['lastname'].valid || registerForm.controls['lastname'].untouched"
            class="text-danger"
            translate
          >
            Lastname is required
          </small>


            <!-- <div *ngIf="registerForm.get('confirmpassword')!.invalid &&registerForm.get('confirmpassword')!.touched"
                  class="alert">
                  <span class="text-danger">confirm password is required</span>
                </div>
   -->
            <!-- <button name="submit" id="submit" class="btn" (click)="submit()">submit</button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
