
<app-loader [isLoading]="isLoading"></app-loader>

<div class="container">
  <div class="row home">
    <div class="col vh-100">
      <div class="row">
        <a href="#fashion">
          <div class="col fashion-girl fade-in">
            <span>Fashion</span>
          </div>
        </a>
      </div>
    </div>
    <div class="col category">
      <div class="row">
        <a href="#electronics" class="col">
          <div class=" electronics fade-in1">
            <span>Electronics</span>
          </div>
        </a>
        <div class="col grocery fade-in"><span>grocery</span></div>
      </div>
      <div class="row">
        <div class="col home-appliances fade-in">
          <span><a href="home">home</a></span>
        </div>
        <div class="col mobile fade-in">Mobile</div>
      </div>
    </div>
  </div>
  
