<div class="row">

    <div class="col-4" *ngFor="let cart of cartList">
     <div class="card">
          <img class="card-img" [src]="cart.product_image" alt="Vans">
          <div class="card-body">
            <h4 class="card-title">{{cart.product_name}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
            <p class="card-text">
              {{cart.product_description}}
            </p>
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price text-success"><h5 class="mt-4">${{cart.product_price}}</h5></div>
             
            </div>
          </div>
         
        </div>
    </div>
  </div>
